main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.hanger {
    width: 10px;
    height: 80px;
    background: black;
    margin-bottom: 10px;
}

.box{
    width: 120px;
    background: black;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.red {
    background: red;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    opacity: 0.3 ease-in-out;
    cursor: pointer;
    }

.yellow {
    background: yellow;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    opacity: 0.3 ease-in-out;
    cursor: pointer;
    }
.green {
    background: green;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    opacity: 0.3 ease-in-out;
    cursor: pointer;
    }

.light-on{
    box-shadow: 0 0 25px 10px rgba(255,0,0, 0.8);
    opacity: 1;
}

